nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section a {
  padding-right: 10px;
}

.nav a {
  text-decoration: none;
  color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav a.active {
  text-decoration: underline;
}

.imgPlanet {
  height: auto;
  width: 50px;
}
